*{
    font-family: 'RocknRoll One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 75px;
    margin-bottom: 25px;
  }

  .card-body {
    text-align: center;
  }